<!-- Header -->
<header class="w3-display-container w3-content w3-wide">
  <img class="w3-image" src="../../assets/reservation.jpg" alt="Reserva">
</header>

<div class="w3-content w3-padding-64">

  <h1 class="w3-center">Reserva</h1>

  <div class="w3-card">

    <div class="w3-container card-header w3-center">
      <h2>Datos de la reserva</h2>
    </div>

    <form class="w3-container">
      <p>
        <label>Nombre</label>
      </p>
      <input #name (change)="keepInputsValues('name', name.value)" class="w3-input border w3-round-large w3-animate-input" type="text" />   
      <br />
      <p>  
        <label>Correo electrónico</label>
      </p>
      <input #email (change)="keepInputsValues('email', email.value)" class="w3-input border w3-round-large w3-animate-input" type="text" />
      <br />
      <p>  
        <label>Teléfono</label>
      </p>
      <input #phone (change)="keepInputsValues('phone', phone.value)" class="w3-input border w3-round-large w3-animate-input" type="text" />
      <br />
      <p>  
        <label>¿Para qué día?</label>
      </p>
      <input #reserveDate (change)="keepInputsValues('reserveDate', reserveDate.value)" class="w3-input border w3-round-large" type="date" min={{dateForm}} />
      <br />
      <p>  
        <label>¿A qué hora?</label>
      </p>
      <select #reserveHour class="border">
        <option>13:30</option>
        <option>14:00</option>
        <option>14:30</option>
        <option>15:00</option>
        <option>21:30</option>
        <option>22:00</option>
        <option>22:30</option>
        <option>23:00</option>
      </select>
      <br />
      <p>  
        <label>¿Cuántas personas?</label>
      </p>
      <input #numberDiners (change)="keepInputsValues('numberDiners', numberDiners.value)" class="w3-input border w3-round-large w3-animate-input" type="text" />
      <br />
      <p>  
        <label>¿Dónde prefieres?</label>
      </p>
      <div>
        <input #terraza class="w3-radio" type="radio" name="preferedPlace" value="Terraza" checked="checked" />
        <label class="radioLabel">Terraza</label>
        <br />
        <input #local class="w3-radio" type="radio" name="preferedPlace" value="Local" />
        <label class="radioLabel">Local</label>
      </div>
      <br />
      <p>  
        <label>¿Alguna observación a tener en cuenta?</label>
        <br />
        <label>(Una hora más específica, alergias, productos para celíacos,...)</label>
      </p>
      <textarea #observations (change)="keepInputsValues('observations', observations.value)" class="border" name="observations"></textarea> 
      <hr />
    </form>

    <div class="button-container w3-container">
      <button 
        (click)="getFormData(
          name.value, 
          email.value, 
          phone.value, 
          reserveDate.value, 
          reserveHour.value, 
          numberDiners.value, 
          terraza.checked, terraza.value, local.value,
          observations.value)" 
        class="w3-button w3-xlarge w3-round-large">
        Enviar
      </button>
    </div>

  </div>

  <iframe
    allow="microphone;"
    width="100%"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/500df353-f7b9-40d9-88f3-6b044a737fc7">
  </iframe>


  <div #modalError class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <div class="w3-container w3-center w3-red">
        <span (click)="closeModal('error')" class="w3-button w3-display-topright">&times;</span>
        <h2>¡Ups! Ha ocurrido un error</h2>
      </div>
      <div class="w3-container">
        <p>Uno o más datos introducidos no son correctos:</p>
        <br />
        <ng-template [ngIf]="nameError != ''">
          <p><strong>Nombre: </strong>{{nameError}}</p>
        </ng-template>
        <ng-template [ngIf]="emailError != ''">
          <p><strong>Correo: </strong>{{emailError}}</p>
        </ng-template>
        <ng-template [ngIf]="phoneError != ''">
          <p><strong>Teléfono: </strong>{{phoneError}}</p>
        </ng-template>
        <ng-template [ngIf]="reserveDateError != ''">
          <p><strong>Fecha: </strong>{{reserveDateError}}</p>
        </ng-template>
        <ng-template [ngIf]="reserveHourError != ''">
          <p><strong>Hora: </strong>{{reserveHourError}}</p>
        </ng-template>
        <ng-template [ngIf]="numberDinersError != ''">
          <p>
            <strong>Comensales: </strong>
            {{numberDinersError}}
            <br />
            <span style="margin-left: 5px;"><i><strong>Teléfono:</strong></i>&nbsp;&nbsp;952 84 65 74</span>
            <br />
            <span style="margin-left: 5px;"><i><strong>Email:</strong></i>&nbsp;&nbsp;hacebuchemeson@gmail.com</span>
          </p>
        </ng-template>
        <ng-template [ngIf]="preferedPlaceError != ''">
          <p><strong>Zona: </strong>{{preferedPlaceError}}</p>
        </ng-template>
        <hr />
        <p>Revise bien los datos antes de pulsar en el botón "Enviar"</p>
      </div>
    </div>
  </div>

  <div #modalCorrect class="w3-modal">
    <div class="w3-modal-content w3-animate-opacity w3-card-4">
      <div class="w3-container w3-center w3-green">
        <span (click)="closeModal('correct')" class="w3-button w3-display-topright">&times;</span>
        <h2>¡Solicitud enviada!</h2>
      </div>
      <div class="w3-container">
        <p>Tu solicitud de reserva ha sido enviada</p>
        <p>Revise su correo y espere a que podamos confirmar su reserva</p>
        <br />
        <p>¡Nos vemos pronto en el mesón!</p>
      </div>
    </div>
  </div>

</div>