<!-- Header -->
<header class="w3-display-container w3-content w3-wide">
  <img class="w3-image" src="../../assets/reservation.jpg" alt="Reserva">
</header>

<div class="w3-content w3-padding-64">

  <h1 class="w3-center">Reserva</h1>

  <div class="w3-card">

    <div class="w3-container card-header w3-center">
      <h2>Datos de la reserva</h2>
    </div>

    <form class="w3-container">
      <p>
        <label>Nombre</label>
      </p>
      <input #name class="w3-input border w3-round-large w3-animate-input" type="text" />   
      <p>  
        <label>Correo electrónico</label>
      </p>
      <input #email class="w3-input border w3-round-large w3-animate-input" type="text" />
      <p>  
        <label>Teléfono</label>
      </p>
      <input #phone class="w3-input border w3-round-large w3-animate-input" type="text" />
      <p>  
        <label>¿Para qué día?</label>
      </p>
      <input #reserveDate class="w3-input border w3-round-large" type="date" min={{currentDate}} />
      <p>  
        <label>¿A qué hora?</label>
      </p>
      <select #reserveHour class="border">
        <option>13:30</option>
        <option>14:00</option>
        <option>14:30</option>
        <option>15:00</option>
        <option>21:30</option>
        <option>22:00</option>
        <option>22:30</option>
        <option>23:00</option>
      </select>
      <p>  
        <label>¿Cuántas personas?</label>
      </p>
      <input #numberDinners class="w3-input border w3-round-large w3-animate-input" type="text" />
      <p>  
        <label>¿Dónde prefieres?</label>
      </p>
      <div>
        <input #terraza class="w3-radio" type="radio" name="preferedPlace" value="Terraza" checked="checked" /><label>Terraza</label>
        <br />
        <input #local class="w3-radio" type="radio" name="preferedPlace" value="Local" /><label>Local</label>
      </div>
      <p>  
        <label>¿Alguna observación a tener en cuenta?</label>
        <br />
        <label>(Una hora más específica, alergias, productos para celíacos,...)</label>
      </p>
      <textarea #observations class="border" name="observations"></textarea> 
      <hr />
    </form>

    <div class="button-container w3-container">
      <button 
        (click)="myAlert(
          name.value, 
          email.value, 
          phone.value, 
          reserveDate.value, 
          reserveHour.value, 
          numberDinners.value, 
          terraza.checked, 
          local.checked, 
          observations.value)" 
        class="w3-button w3-xlarge w3-round-large">
        Enviar
      </button>
    </div>

  </div>

</div>