<!-- Header -->
<header class="w3-display-container w3-content w3-wide">
  <img class="w3-image" src="./assets/ham.jpg" alt="Menú">
</header>

<div class="w3-content w3-padding-64">
  <h1 class="w3-center">Nuestra Carta</h1>
  <app-entrees></app-entrees>
  <hr />
  <app-toasts></app-toasts>
  <hr />
  <app-salads></app-salads>
  <hr />
  <app-pastas></app-pastas>
  <hr />
  <app-scrambleds></app-scrambleds>
  <hr />
  <app-fishs></app-fishs>
  <hr />
  <app-meats></app-meats>
  <hr />
  <app-desserts></app-desserts>
</div>