<!-- Header -->
<header class="w3-display-container w3-content w3-wide">
  <img class="w3-image" src="../../assets/wines.jpg" alt="Menú">
</header>

<div class="w3-content w3-padding-32">
  <h1 class="w3-center">Nuestros Vinos</h1>
  <br />
  <br />
  <br />
  <br />
  <app-andalusian-wines></app-andalusian-wines>
  <hr />
  <br />
  <br />
  <app-rioja-wines></app-rioja-wines>
  <hr />
  <br />
  <br />
  <app-ribera-wines></app-ribera-wines>
  <hr />
  <br />
  <br />
  <app-castilla-wines></app-castilla-wines>
  <hr />
  <br />
  <br />
  <app-albarinios></app-albarinios>
  <hr />
  <br />
  <br />
  <app-rueda-wines></app-rueda-wines>
  <hr />
  <br />
  <br />
  <app-olorosos></app-olorosos>
</div>