<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="grey w3-bar w3-padding w3-card">
    <div class="bloc-logo">
      <a routerLink="/home" class="logo-mask">Home</a>
    </div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-medium w3-hide-small">
      <a routerLink="/menu" class="w3-bar-item w3-button">Nuestra Carta</a>
      <a routerLink="/wines" class="w3-bar-item w3-button">Nuestros Vinos</a>
      <a href="#contact" class="w3-bar-item w3-button">Reserva</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" (click)="nav_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

  <!-- Sidebar on small screens when clicking the menu icon -->
<nav #responsiveNav class="w3-sidebar w3-bar-block grey w3-card w3-animate-left responsive-nav-hidden">
  <div class="close-nav">
    <a href="javascript:void(0)" 
       (click)="nav_close()" 
       class="w3-bar-item w3-button w3-large w3-padding-16">
      Cerrar <span>X</span>
    </a>
  </div> 
  <a routerLink="/menu" (click)="nav_close()" class="w3-bar-item w3-button">Nuestra Carta</a>
  <a routerLink="/wines" (click)="nav_close()" class="w3-bar-item w3-button">Nuestros Vinos</a>
  <a href="#contact" (click)="nav_close()" class="w3-bar-item w3-button">Reserva</a>
</nav>

<!-- Page content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="w3-black w3-padding-64">
  <div class="w3-center ">
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </div>
  <div class="w3-content w3-container">
    <div class="w3-row w3-section">
      <div class="w3-col m2 w3-container"></div>
      <div class="w3-col m10 w3-panel">
        <div class="w3-large">
          <i class="fa fa-map-marker fa-fw w3-xlarge w3-margin-right"></i> Mesón Hacebuche, Plaza Guerrero Muñoz, Antequera, España
          <hr />
          <i class="fa fa-phone fa-fw w3-xlarge w3-margin-right"></i> Teléfono: +34 952 84 65 74
          <hr />
          <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i> Email: hacebuchemeson@gmail.com
        </div>
      </div>
    </div>
  </div>
</footer>